<table class="table" st-pipe="callServer" st-table="displayed">
  <thead>
  <tr>
    <th colspan="1" style="min-width: 180px;"><input type="checkbox" ng-model="isNotCode" ng-checked="!isCode" ng-change="isCode = !isNotCode; code=''">&nbsp;Country Name:</th>
    <th colspan="2"><input st-search="name"/></th>
    <th colspan="1" style="min-width: 180px;"><input type="checkbox" ng-model="isCode" ng-change="isNotCode = !isCode; name=''">&nbsp;Country Code:</th>
    <th colspan="2"><input st-search="code"/></th>
  </tr>
  <tr>
    <th st-sort="name" st-sort-default="true">name</th>
    <th>type</th>
    <th>continent</th>
    <th>country</th>
    <th>region</th>
    <th>runways</th>
    <th>home link</th>
  </tr>

  </thead>
  <tbody ng-show="!isLoading">
  <tr ng-repeat="row in displayed">
    <td>{{row.name}}</td>
    <td>{{row.type}}</td>
    <td>{{row.continent}}</td>
    <td>{{row.iso_country + ' - ' + row.countryName}}</td>
    <td>{{row.iso_region}}</td>
    <td>
      <table class="table table-bordered" ng-if="row.runways.length > 0">
        <tr>
          <th>surface</th>
          <th>length</th>
          <th>lighted</th>
        </tr>
        <tr ng-repeat="runway in row.runways track by (row.ident + runway.id)">
          <td>{{runway.surface}}</td>
          <td>{{runway.length_ft}}</td>
          <td>{{runway.lighted === '0' ? 'No' : 'Yes'}}</td>
        </tr>
      </table>
    </td>
    <td><a ng-href="{{row.home_link}}">Web page</a></td>
  </tr>
  </tbody>
  <tbody ng-show="isLoading">
  <tr>
    <td colspan="6" class="text-center">Loading ...</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td class="text-center" st-pagination="" st-items-by-page="10" colspan="10">
    </td>
  </tr>
  </tfoot>
</table>
