
<button style="min-width: 310px;" type="button" class="btn btn-primary btn-md" ng-click="changeReport('highest')">10 Countries with highest number of Airports</button>
<br>
<button style="min-width: 310px;" type="button" class="btn btn-success btn-md" ng-click="changeReport('lowest')">10 Countries with lowest number of Airports</button>
<br>
<button style="min-width: 310px;" type="button" class="btn btn-info btn-md" ng-click="changeReport('typeRunway')">Type of Runways per Country</button>
<br>
<button style="min-width: 310px;" type="button" class="btn btn-danger btn-md" ng-click="changeReport('topRunway')">10 most common Runway identifications</button>

<div ng-if="activeReport === 'highest' || activeReport === 'lowest'">
  <h2 ng-if="activeReport === 'highest'">10 Countries with highest number of Airports</h2>
  <h2 ng-if="activeReport === 'lowest'">10 Countries with lowest number of Airports</h2>
  <table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th>code</th>
      <th>country</th>
      <th>count</th>
    </tr>
    </thead>
    <tbody ng-show="!isLoading">
    <tr ng-repeat="row in rowCollection">
      <td>{{row.code}}</td>
      <td>{{row.name}}</td>
      <td>{{row.count}}</td>
    </tr>
    </tbody>
    <tbody ng-show="isLoading">
    <tr>
      <td colspan="3" class="text-center">Loading ...</td>
    </tr>
    </tbody>
  </table>
</div>

<div ng-if="activeReport === 'typeRunway'">
  <h2>Type of Runways per Country</h2>
  <table class="table" st-pipe="callServer" st-table="displayed">
    <thead>
    <tr>
      <th>code</th>
      <th>country</th>
      <th>runways</th>
    </tr>

    </thead>
    <tbody ng-show="!isLoading">
    <tr ng-repeat="row in displayed">
      <td>{{row.code}}</td>
      <td>{{row.name}}</td>
      <td>{{row.runwayConcat}}</td>
    </tr>
    </tbody>
    <tbody ng-show="isLoading">
    <tr>
      <td colspan="3" class="text-center">Loading ...</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td class="text-center" st-pagination="" st-items-by-page="10" colspan="10">
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<div ng-if="activeReport === 'topRunway'">
  <h2>10 most common Runway identifications</h2>
  <table st-table="commonRunways" class="table table-striped">
    <thead>
    <tr>
      <th>runway identification code</th>
      <th>count</th>
    </tr>
    </thead>
    <tbody ng-show="!isLoading">
    <tr ng-repeat="row in commonRunways">
      <td>{{row.ident}}</td>
      <td>{{row.count}}</td>
    </tr>
    </tbody>
    <tbody ng-show="isLoading">
    <tr>
      <td colspan="2" class="text-center">Loading ...</td>
    </tr>
    </tbody>
  </table>
</div>
